form {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }
   
   input {
    height: 40px;
    width: 500px;
    border-radius: 5px;
    align-items: stretch;
    margin-top: 75px;
    margin-bottom: 75px;
    transform: translateX(400px);
    background-color: yellow;
   
   }
   
   label {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: blue;
   
   }
   
   button {
    height: 50px;
    width: 10%;
    transform: translateX(600px);
   }