/* body {
    background: linear-gradient(rgba(201, 189, 189, 0.45), rgb(0, 0, 0)), url(stan.jpg);
    background-size: 250px;
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
 }


.navHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .navbar{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    width: 100%;
    border-radius: 10px;
 
 }
 
 .navlink{
    display: flex;
    padding: 15px;
 
 }
 
 h3{
    display: flex;
    flex-direction: row;
    width: 300px;
 } */