.listcontainer{
    display: flex;
    flex-direction: row-reverse;
    height: 600px;
    width: 1500px;
    flex-wrap: wrap;
 }
 
 .movieobject{
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
 
 }
 
 img{
    width: 350px;
    height: 350px;
 
 }
 
 
 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 
 SearchCriteria Styles
 
 .search{
    display: flex;
    background-color:rgb(179,178,176, 0.6);
    justify-content: center;
    Height: 50vh;
    width: 50vw;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    left: 400px;
 }
 
 main{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 0vh;
    position: relative;
 }
 
 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
 }
 
 input{
    height: 40px;
    width: 500px;
    border-radius: 5px;
    align-items: stretch;
    margin-top: 75px;
    margin-bottom: 75px;
 }
 
 label{
    display: flex;
    justify-content: center;
    font-size: 40px;
 }
 
 button{
    height: 50px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
 }