<!-- 
<div *ngFor ="let movie of movieList">
  <p>Title: {{ results.title}} </p>
  

</div> -->

<!-- 

 <form #imdbForm="ngForm" (ngSubmit)="searchImdb(imdbForm)">
  <label for="">Which Sub?</label>
  <input type="text" ngModel name="searchResult">
  <button>Search</button>
</form> -->

<!-- <searchcriteria></searchcriteria> -->
<div *ngFor ="let movie of movieList; index as i">
  <p>Title: {{ movie.title }}</p>
   <p>Description: {{ movie.overview }} </p>
  <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="">
  <span (click)="addFavs(movie)">X</span>

</div>